<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apple Inc.</title>
    <link rel="shortcut icon" href="/assets/img/a-ico.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <header>
        <h1>Apple Inc.</h1>
        <p>Innovating the future with Apple</p>
    </header>

    <nav>
        <a href="store.html"target="_blank" rel="noopener noreferrer">Store</a>
        <a href="entertainment.html"target="_blank" rel="noopener noreferrer">Entertainment</a>
        <a href="support.html">Support</a>
    </nav>

    <section class="banner">
        <h2>The Next Era of Innovation Starts Here</h2>
    </section>

    <section class="products">
        <div class="product">
            <img src="/assets/img/mackbook.jpg" alt="MacBook">
            <h3>MacBook</h3>
            <p>MacBook is where cutting-edge technology meets refined design, empowering you to do more, create more, and enjoy more.</p>
        </div>
        <div class="product">
            <img src="/assets/img/iphone16.jpg" alt="iPhone">
            <h3>iPhone</h3>
            <p>Empower your day with the iPhone, where performance, style, and innovation come together effortlessly.</p>
        </div>
        <div class="product">
            <img src="/assets/img/ipad.jpg" alt="iPad">
            <h3>iPad</h3>
            <p>From work to play, the iPad adapts to your every need, offering performance, portability, and endless possibilities.</p>
        </div>
    </section>

    <footer>
        <p>© 2024 Apple Inc. All rights reserved.</p>
        <p><a href="https://www.apple.com/legal/privacy/">Privacy Policy</a> | <a href="https://www.apple.com/legal/internet-services/terms/site.html">Terms of Use</a></p>
    </footer>

</body>
</html>
